---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { yoe } from '@/lib/utils';
import { tech } from '@/tech';
import slugify from 'slugify'
---

<BaseLayout>
  <main class="w-full h-screen p-4 lg:p-0 lg:w-screen lg:h-[70vh] grid place-items-center">
    <div class="text-center max-w-[550px]">
      <h1 class="text-4xl font-bold mb-4">Hi 👋</h1>
      <div class="text-zinc-400">
        <p>
        My name is Karl and I'm a Solutions Developer with {yoe} years of experience. I'm passionate about all things web and building apps that are intuitive, maintainable, and built to last.
        </p>
      </div>
      <div class="flex flex-col gap-4 mt-8">
        <p>
          <a
            href="/projects"
            class="text-emerald-200"
          >
            Browse ✨
          </a> projects, or click on the tags below 👇 to filter by <span
            class="font-mono"
          >
            technology.
          </span>
        </p>
        <div class="flex gap-2 justify-center items-center flex-wrap">
          {
          tech.map(({ label, bg, text, id }) => (
              <a
                href={`/tags/${slugify(id, { lower: true })}`}
                class='font-mono text-xs rounded-sm px-2 py-1 transition-all delay-75 hover:brightness-105 hover:scale-105'
                style={`background-color: ${bg}; color: ${text};`}}
              >
                {label}
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </main>
</BaseLayout>
