@font-face {
  font-family: styrene;
  src: url("/fonts/styrene/styrene-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: styrene;
  src: url("/fonts/styrene/styrene-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
