@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@font-face {
	font-family: styrene;
	src: url('/fonts/styrene/styrene-regular.woff2') format('woff2'), url('/fonts/styrene/styrene-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: styrene;
	src: url('/fonts/styrene/styrene-bold.woff2') format('woff2'), url('/fonts/styrene/styrene-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: tiempos;
	src: url('/fonts/tiempos/tiempos-regular.woff2') format('woff2'), url('/fonts/tiempos/tiempos-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: tiempos;
	src: url('/fonts/tiempos/tiempos-bold.woff2') format('woff2'), url('/fonts/tiempos/tiempos-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@theme {
	--font-styrene: styrene;
	--font-tiempos: tiempos;
	--font-mono: 'Ubuntu Mono', monospace;
}