---
import BaseLayout from './BaseLayout.astro';
import type { PageFrontMatter } from '@/content/config';

type Props = {
  frontmatter: PageFrontMatter;
};

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <main class="py-28 w-full max-w-sm lg:max-w-5xl mx-auto">
    <div class="lg:prose-xl prose-sm prose-zinc text-justify">
      <slot />
    </div>
  </main>
</BaseLayout>
