---
import BaseLayout from './BaseLayout.astro';
import PageHeader from '../components/PageHeader.astro';
import Subtitle from '../components/Subtitle.astro';
import type { ProjectFrontMatter } from '../content/config';

type Props = {
  frontmatter: ProjectFrontMatter;
};

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <main class="py-28 w-full max-w-sm lg:max-w-5xl mx-auto">
    <PageHeader headline="Projects">
      <Subtitle text={frontmatter.company} />
      <Subtitle text={frontmatter.period} />
    </PageHeader>
    <div class="lg:prose-xl prose-sm prose-zinc text-justify">
      <slot />
    </div>
    <div class="text-zinc-500 font-mono mt-10">
      <strong class="underline">Tech:</strong>
      {frontmatter.stack.join(', ')}
    </div>
  </main>
</BaseLayout>
